html, body{
    padding: 0;
    margin: 0;
    background-color: #000;
}
/*
canvas:-webkit-full-screen	{ width: 100% }
canvas:-moz-full-screen		{ width: 100% }
canvas:-ms-full-screen		{ width: 100% }
canvas:-o-full-screen		{ width: 100% }
canvas:full-screen		{ width: 100% }
*/
canvas{
    background-color: #000;
    display: block;
    position: relative;
    padding: 0;
    margin: 0 auto;
}